* {
    box-sizing: border-box;
    text-align: center;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: lightgray;
}

.header {
    padding: 20px;
    text-align: center;
    background: mediumpurple;
    color: lightgray;
}

.header h1 {
    font-size: 40px;
    
}

.navbar {
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #464646;
}

.navbar a {
    float: left;
    display: block;
    color: lightgray;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover:not(.active){
    background-color: #b299e6;
    color: #464646;
}

.active {
    background-color: #b299e6;
    color: #464646;
    
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #464646;
    color: lightgray;
    
}
.slidecontainer {
    width:100%;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background: lightgray;
    outline: none;
}
.img {
    border-color: #b299e6;
    border-style: dashed;
    border-width: medium;
    margin: 5px;
    
}

.side {
    -ms-flex: 20%;
        flex: 20%;
        background-color: #464646;
        padding: 20px;
    float: left;

}

.main {
    -ms-flex: 80%;
        flex: 80%;
        background-color: #464646;
        padding: 20px;

}

.clearfix::after{
    content: "";
    clear: both;
    display: flex;
}

.button {
    border: none;
    border-radius: 100%;
    cursor: pointer;
    
}

.footer {
    padding: 10px;
    text-align: center;
    background-color: #464646;
    color: lightgray;
}

::selection {
    color: inherit;
    background: mediumpurple;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
        
    }
}

@media screen and (max-width: 400px){
    .navbar a{
        float: none;
        width: 100%
    }
}